<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>公司简介</title>
    <link rel="stylesheet" href="/static/index/base/public.css">
    <link rel="stylesheet" href="/static/index/style/css/common.css">

    <link rel="stylesheet" href="/static/index/style/css/index/index.css">
    <link rel="stylesheet" href="/static/index/style/css/layer.css">

</head>
<body>
<div class="body_all">
    <div class="company_all">
        <div class="title_background"></div>
        <div class="company_info">
            <p>河南富华清洁服务有限公司</p>
            <div class="company_info_list">
                <span>有限责任公司 | 独资公司 | 10-99人</span>
                <span style="display: block">环保/清洁服务</span>
                <span style="display: block">地址:中华路金沙大道交叉口向南200米路南院内</span>
            </div>
        </div>
    </div>
    <div class="company_text">
        <div class="text_img">
            <img src="/static/index/style/images/company_text.png" alt="">
            <p>公司简介</p>
            <div class="border_solid"></div>
        </div>
        <div class="company_text_info">
            <p>河南富华清洁服务有限公司是一家主要服务于各大餐饮行业的清洁公司，我司拥有完善的清洁环保体系来帮助餐饮酒店进行油烟净化器拆装、清洁、维护等服务。</p>
            <p>我司致力于科技化管理订单，可批量处理各大酒店订单</p>
        </div>

    </div>
    <div class="company_text">
        <div class="text_img">
            <img src="/static/index/style/images/company_text.png" alt="">
            <p>公司优势</p>
            <div class="border_solid"></div>
        </div>
        <div class="company_text_info">
            <p>我司具备完善的拆装、清洁、污水处理等科学性管理的完整体系。</p>
            <p>我司拥有先进的超声波清洗设备、污水处理设备、流水线烘干设备，从而达到绝对干净无残留无污染的目的。</p>
            <p>我司有过硬的产品质量，良好的产品性能，领先的技术优势，规范式管理，正规运营模式。</p>
            <p>我司拥有的富华清洁公众号，店面注册、规范管理、公开透明清洁进度。保证店铺器材完整性的同时保证清洁速度</p>
        </div>
    </div>
    <div class="my_info">
        <div class="my_but" id="introduce">
            <img src="/static/index/style/images/text.png" alt="">
            <p><span>简介</span></p>
        </div>
        <div class="my_but" id="all_order">
            <img src="/static/index/style/images/order.png" alt="">
            <p><span>订单</span></p>
        </div>
        <div class="my_but" id="shop_register">
            <img src="/static/index/style/images/register.png" alt="">
            <p><span>注册</span></p>
        </div>
        <div class="my_but" id="shop_info">
            <img src="/static/index/style/images/my.png" alt="">
            <p><span>我的</span></p>
        </div>
    </div>

</div>
</body>

<script src="/static/index/src/jquery.min.js"></script>
<script src="/static/index/src/index/layer.js"></script>
<script src="/static/index/src/common/common.js"></script>
<script src="/static/index/src/index/index.js"></script>
</html>
