<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>订单详情</title>
    <link rel="stylesheet" href="/static/index/base/public.css">
    <link rel="stylesheet" href="/static/index/style/css/common.css">
    <link rel="stylesheet" href="/static/index/style/css/order/info.css">
    <link rel="stylesheet" href="/static/index/style/css/layer.css">

</head>
<body>
<div class="body-back">
    <div class="title">
        <p>订单详情</p>
    </div>
    <div class="order-all-info">
        <div class="order-info">
            <div class="order-num">
                <p>订单号:<span>{$data.order_num}</span></p>

                <p class="order-status">{$status_arr[$data.status]}</p>
            </div>
            {foreach name='$data.type_arr' item='v'}

            <div class="order-name">
                <p><span>{$v.name}</span></p>

                <p class="order-price"><span>￥{$v.price}</span></p>
            </div>
            {/foreach}


            <div class="order-update">
                <p><span>{$data.end_time}</span></p>

                <div class="order-log"><span>合计:￥{$data.price}</span></div>
            </div>
        </div>
        <div class="slip">
        </div>
    </div>


    <div class="shop-all-info">
        <div class="shop-info">
            <div class="order-num">
                <p>店面信息</p>
            </div>
            <div class="shop-name">
                <p>店铺名称：<span>{$data.bill_tittle}</span></p>

                <p>店铺地址：<span>{$data.site}</span></p>

                <p>联系经理：<span>{$data.shop_user}</span></p>

                <p>联系电话：<span>{$data.phone|substr=0,3} **** ****</span></p>

                <p>上门师傅：<span>{$data.name}</span></p>

                <p>师傅电话：<span>{$data.w_phone}</span></p>

                <p>服务时间：<span>{$data.add_time|substr=0,10}</span></p>
            </div>

        </div>
        <div class="slip">
        </div>
    </div>
    <div class="img_all">
        <div class="order-num">
            <p>清洗记录</p>
        </div>
        {foreach name='bill_url' item='v'}
        <img src="{$v}" alt="">
        {/foreach}

    </div>
    <div class="my_info">
        <div class="my_but" id="introduce">
            <img src="/static/index/style/images/text.png" alt="">

            <p><span>简介</span></p>
        </div>
        <div class="my_but" id="all_order">
            <img src="/static/index/style/images/order.png" alt="">

            <p><span>订单</span></p>
        </div>
        <div class="my_but" id="shop_register">
            <img src="/static/index/style/images/register.png" alt="">

            <p><span>注册</span></p>
        </div>
        <div class="my_but" id="shop_info">
            <img src="/static/index/style/images/my.png" alt="">

            <p><span>我的</span></p>
        </div>
    </div>


</div>


</body>

<script src="/static/index/src/jquery.min.js"></script>
<script src="/static/index/src/index/layer.js"></script>
<script src="/static/index/src/common/common.js"></script>
<script src="/static/index/src/index/index.js"></script>
</html>
