<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>点评列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/admin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">

        <div class="layui-card-body">
            <table id="LAY-user-table" lay-filter="LAY-user-table"></table>
            <script type="text/html" id="buttonTpl">
            </script>
        </div>
    </div>
</div>

<script src="/static/layui/layui.js"></script>
<script>
    layui.config({
        base: '/static/admin/' //静态资源所在路径
    }).use(['jquery','table','element'], function(){
        var $ = layui.$
            ,form = layui.form
            ,table = layui.table;

        var active = {

        };

        $('.layui-btn.layuiadmin-btn-admin').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        // 监听搜索
        form.on('submit(LAY-user-back-search)', function(data){
            var field = data.field;

            // 执行重载
            table.reload('LAY-user-table', {
                where: field
            });
        });
        // $(document).on('click', '#detail', function() {
        //     table.on('tool(LAY-user-table)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
        //         var data = obj.data; //获得当前行数据
        //         var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
        //         var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
                // if(layEvent === 'detail'){ //查看
                //     var oid = data.orderId;
                //     location.href="/admin/mafengwo/orderDetails?oid="+oid;
                    //触发事件
                    // var active = {
                    //     tabAdd: function(url){
                    //         //新增一个Tab项
                    //         element.tabAdd('demo', {
                    //             title: '新选项'+ (Math.random()*1000|0)
                    //             ,content: '内容'+ (Math.random()*1000|0)
                    //             ,id: new Date().getTime()
                    //         })
                    //     }
                    // };
            //     }
            // });
        // });

    });

    renderTable();
    // 渲染表格
    function renderTable() {

        layui.use(['table', 'form'], function () {
            var $ = layui.$
                ,form = layui.form
                ,table = layui.table;

            table.render({
                elem: "#LAY-user-table",
                url: "/admin/reviews/mafengwo_list",
                cols: [
                    [{
                        field: "username",
                        width: "100",
                        title: "用户昵称",
                    }, {
                        field: "sales_name",
                        width: "300",
                        title: "产品名称",
                    }, {
                        field: "star",
                        width: "80",
                        title: "评分",
                    }, {
                        field: "star_tags",
                        width: "350",
                        title: "点评标签",
                    },  {
                        field: "content",
                        width: "500",
                        title: "点评内容",
                    }, {
                        field: "reply",
                        width: "300",
                        title: "商家回复",
                    }
                        ]
                ],
                page: !0,
                limit: 20,
                height: "full-50",
                text: "对不起，加载出现异常！"
            });
        });
    }
</script>
</body>
</html>